:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html, body{
    height: 100vh;
    min-width: 275px !important;
    overflow-x: hidden;
}

/* Navbar */
.t-navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    transition: width 200ms ease;
    background-color: var(--bg-primary);
    z-index: 10000;
}

/* Navbar-nav */
.t-navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* nav-item */
.t-navbar-item{
    width: 100%;
}

/* nav-item last child */
/*
.t-navbar-item:last-child{
    margin-top: auto;
}
*/

/* nav-link */
.t-navbar-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* nav-link */
.t-navbar-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

/* nav-link */
.t-navbar-link img{
    min-width: 2rem;
    margin: 0 1.5rem;
    clip-path: circle(16px at center);
    background-color: white;
}

.t-navbar:hover{
    width: 16rem;
}

.t-link-text{
    display: none;
    margin-left: 1rem;
}

.t-navbar:hover .t-link-text{
    display: block;
}

.fa-primary{
    color: pink;
}

.fa-secondary{
    color: rgb(198, 97, 223);
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}

#tictac-table{
    width: 300px;
}

#tictac-table td{
    background-color: #c0dcff;
    border: 1px dashed #8fb9ec;
    font-family: 'Architects Daughter', cursive;
    height: 100px;
    width: 100px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

#leaderboard_brid{
    grid-template-columns: 1fr 1fr;
    background-color: #c0dcff;
    max-width: 150px;
}
#leaderboard_brid > div{
    margin: 0.1em;
    border: 1px dashed #8fb9ec;
}

#toDo_page > div{
    max-width: 500px;
}