.cvr-inputs{
    display: flex;
    flex-direction: row;
}
.cvr-inputs input[name="cvr-search"]{
    background-color: #ff6565;
    color: white;
    border-radius: 5px 0px 0px 5px;
    padding: 0.5em;
    font-size: 1em;
    font-family: arial;
    display: block;
    border: 3px solid #ff6565;
    width: 100%;
}
.cvr-inputs input[name="cvr-search"]:focus-within,
.cvr-inputs input[name="cvr-search"]:focus,
.cvr-inputs input[name="cvr-search"]:focus-visible{
    border: 3px solid #ff6565;
    box-shadow: none;
    outline: none;
}
.cvr-inputs button{
    border-radius: 0px 5px 5px 0px;
    margin: 0px;
}

.cvr_tab{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px !important;
}
.cvr_cell{
    background-color: white;
    min-height: 250px;
    box-shadow: 0px 0px 8px black;
    margin-bottom: 1em;
    border-radius: 5px 0px 0px 5px;
    transition: 0.25s;
}
.cvr_tab .cvr_cell:first-child{
    border-radius: 0px 0px 0px 5px;
}
.cvr_top{
    text-align: start;
    padding: 0.25em;
}
.cvr_top span{
    padding-right: 1em;
    cursor: pointer;
}

/*Flexbox*/
.cvr_content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.cvr_content p, .cvr_content h6{    
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
    font-family: Monospace;
}
.cvr_content h6{  
    font-weight: bold;
    padding: 0.25em;
}
.cvr_content p{    
    margin-bottom: 5px;
    background-color: #f0f0f0;
    padding: 0em 0.25em;
}
.cvr_content p:last-child{    
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-radius: 0px 0px 0px 5px;
}

/*Table*/
/*
.cvr_content table{
    display: flex;
    border-spacing: 0px;
}
.cvr_content table tbody{
    width: 100%;
}
.cvr_content table tr{
    display: flex;
}
.cvr_content table tr:nth-child(odd){
    background-color: #f3f3f3;
}
.cvr_content table th{
    text-align: start;
    min-width: 114px;
    padding: 2px;
}
.cvr_content table td{    
    width: 200px;
    padding: 2px;
}
*/