//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@import "bootstrap";

html,
body {
	@extend .bg-dark, .text-light;
	font-family: "Poppins", sans-serif;
}

@keyframes spin_words {
	0% {
		transform: translateY(0%);
	}
	20% {
		transform: translateY(0%);
	}
	25% {
		transform: translateY(-100%);
	}
	45% {
		transform: translateY(-100%);
	}
	50% {
		transform: translateY(-200%);
	}
	70% {
		transform: translateY(-200%);
	}
	75% {
		transform: translateY(-300%);
	}
	95% {
		transform: translateY(-300%);
	}
	100% {
		transform: translateY(-400%);
	}
}

//Phone
.hero {
	@extend .text-center, .d-flex, .flex-column, .justify-content-center;
	min-height: 25em;
	overflow: hidden;
	h1 {
		font-size: calc(2rem + 1.5vw);
		font-weight: 700;
	}
	@media (max-width: 576px) {
		.btn-lg {
			--bs-btn-font-size: 1rem;
		}
	}
}

//Wider than phone
@media (min-width: 577px) {
	.hero {
		text-align: start !important;
	}
}
