*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 5em;
    margin: 5em;
}

main{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
}

.column{
    background-color: beige;
    display: flex;
    width: 50%;
    padding: 1em;
    flex-direction: column;
}

.box{
    display: flex;
    background-color: chartreuse;
    padding: 1em;
    margin: 1em;
    height: 250px;
}

.box_long{
    height: 350px;
}